
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body{
margin: 0;
font-family: 'Jeju Gothic', serif;
}
nav p {
  background: #CEE3F6;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 25px;
}

nav a {
  color:white;
  text-shadow: 1px 1px 1px gray;
  font-weight: 900;
  text-decoration: none;
}

/*this is article css*/
div{
  margin-left: 200px;
}
div p{
  font-size: 50px;

}
.form{
  font-size: 20px;
  margin-left: 100px;
  padding: 50px;
  width: 900px;
  height: 320px;
  background: #e6e6e6;

}
form div{
  margin:0 0 30px 0;
}
input{
  height: 30px;
}
span{
  margin: 0 25px;
}
button{
  width: 60px;
  height: 30px;
}

/*this is footer css*/
footer p {
  background: #F2F2F2;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 80px 0 50px 0;
}
